@import 'src/styles/variables';
@import 'src/styles/mixins';

.cardWrapper {
  position: relative;
  padding: 24px 24px 32px 24px;
  width: 272px;
  box-shadow: 0px 12px 16px 0px $black;
  background: linear-gradient(100.91deg, $dark-grey -16.78%, $darkest-black 63.22%);
  border-radius: 0.5rem;
  @include HelveticaNeueCyr;

  .editButtonWrapper {
    position: absolute;
    top: -19px;
    right: -31px;
  }

  .contactGradientWrapper {
    font-size: 16px;
    line-height: 24px;
    @include textGradient(linear-gradient(103deg, #754FFE -104.45%, #C812C1 194.38%));
  }

  .contactWrapper {
    margin-top: 8px;

    .titleWrapper {
      color: $white;
      font-size: 16px;
      line-height: 24px;
    }

    .textInputWrapper {
      border: 1px solid $asphalt;
      color: $lang-white;
      background: linear-gradient(100.91deg, $dark-grey -16.78%, $darkest-black 63.22%);
    }
  
    .textWrapper {
      color: $lang-white;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
