@import 'src/styles/variables';
@import 'src/styles/mixins';

.EditButton {
  position: relative;
  width: 67px;
  height: 67px;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .button {
    margin-left: 21.5px;
    margin-top: 8px;
  }
}